@font-face {
    font-family: 'LazyDogFont';
    src: url('fonts/lazy_dog.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LazyDogFont', 'Courier New', Courier, monospace;
    background-color: #dadfdb;
    color: #664d3b;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #dadfdb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #664d3b;
}

/* nav menu */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

/* nav links */

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #664d3b; /* Default text color */
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #e3d4c2;
    color: #664d3b;
}

main {
    padding: 20px 30px;
}